addict
lmdb
pyyaml
termcolor
yapf
einops
importlib-metadata
mat4py
modelindex
rich
coverage
interrogate
requests
scikit-learn
ftfy
regex
matplotlib
numpy<2.0.0
packaging
prettytable
scipy
openmim
mmcv
setuptools>=75.0.0